# Compiled source #
###################
**/bin/
**/obj/
**/out/

# User-specific files #
#######################
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# Build results #
#################
*.dll
*.exe
*.pdb
*.app
*.log

# VS Code #
.vscode/

# Rider #
.idea/

# OS files #
############
.DS_Store
Thumbs.db

#Ignorar o sqlite
*.db